<div class="container">
    <div class="row-header padded">
        <div class="col">
            &nbsp;
        </div>
        <div class="col center padded">
            <img class="icon-xl" src="../../assets/logo-ver.png" alt="logo-ver" />
            <div class="title center">RUSIA 2018</div>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row-header">
        <div class="col">
            &nbsp;
        </div>
        <div class="col">
            <div class="row-header left">
                <div class="col">
                    <div class="countdown center">
                        <div class="number">{{timeLeft.days}}</div>
                        <div class="center">dias</div>
                    </div>
                </div>
                <div class="col">
                    <div class="countdown center">
                        <div class="number">{{timeLeft.hours}}</div>
                        <div class="center">horas</div>
                    </div>
                </div>
                <div class="col">
                    <div class="countdown center">
                        <div class="number">{{timeLeft.mins}}</div>
                        <div class="center">minutos</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            &nbsp;
        </div>
    </div>
</div>