.app {
    margin: 0px !important;
}

.sign-up-bg {
    height: -webkit-fill-available;
    background-size: cover !important;
    background: url('../../assets/bg-launch-min.jpg') no-repeat center fixed;
    background-position: center;
}

.signup-container {
    height: 100vh;
}

.overlay {
    opacity: 0.5;
    background: black;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.countdown {
    padding: 20px;
    .number {
        display: inline-block;
        font-size: 96px;
        font-weight: 700;
    }
}

.tiny {
    font-size: 14px;
    text-align: -webkit-center;
    color: yellow;
}

label {
    color: white;
}

.register {
    width: auto;
}

.desc {
    font-weight: 600;
    font-size: 22px;
}

@media only screen and (max-width: 400px) {
    .row-header {
        flex-direction: row !important;
    }
    .sign-up-bg {
        height: auto !important;
        background-size: auto !important;
        background: url('../../assets/bg-launch-min.jpg') no-repeat center fixed;
        background-position: center;
    }
}

@media only screen and (max-width: 800px) and (min-width: 400px) {
    .row-header {
        flex-direction: row !important;
    }
    .sign-up-bg {
        background-size: cover !important;
        background: url('../../assets/bg-launch-min.jpg') no-repeat center fixed;
        background-position: center;
    }
}