.app {
    margin: 0px !important;
}

.sign-up-bg {
    height: -webkit-fill-available;
    background-size: cover !important;
    background: url('../../assets/bg-launch-min.jpg') no-repeat center fixed;
    background-position: center;
}

.signup-container {
    height: 100vh;
}

.overlay {
    opacity: 0.5;
    background: black;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

.countdown {
    padding: 20px;
    .number {
        display: inline-block;
        font-size: 76px;
        font-weight: 700;
    }
}

.tiny {
    font-size: 14px;
    text-align: -webkit-center;
    color: snow;
}

label {
    color: white;
}

.register {
    width: auto;
}

.desc {
    font-weight: 600;
    font-size: 22px;
}

select, option {
    font-size: 14px;
    color: #424242;
}

select {
    padding: 10px;
    width: 270px;
    margin: 5px;
    background: whitesmoke;
    border: 1px solid #ddd;
    border-bottom: 1px solid #435160;
    outline: none;
}

.countries {
    max-height: 200px;
    max-width: 260px;
    overflow-y: scroll;
}

@media only screen and (max-width: 400px) {
    .row-header {
        flex-direction: row !important;
    }
    .sign-up-bg {
        height: auto !important;
        background-size: auto !important;
        background: url('../../assets/bg-launch-mb.jpg') no-repeat center fixed !important;
        background-position: center;
    }
}

@media only screen and (min-width: 401px) {
    .row-header {
        flex-direction: row !important;
    }
    .sign-up-bg {
        height: auto !important;
        background-size: auto !important;
        background: url('../../assets/bg-launch-min.jpg') no-repeat center fixed !important;
        background-position: center;
    }
}