.leaderboard-container {
    margin: 40px;
    background: white;
}

* {
    color: #424242;
}

.header {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.see-more {
    font-weight: 600;
    color: #81abdf;
    margin-top: 8px;
    cursor: pointer;
}

.row-header {
    flex-direction: row !important;
}

@media only screen and (max-width: 400px) { 
    
}