<app-header></app-header>
<div class="leaderboard-container">
    <div class="row-header padded-xs">
        <div class="col">
            <div class="title left">
                <h3>Lideres</h3>
            </div>
        </div>
        <div class="col-sm right padded-xs" (click)="goBack();">
            <h4>Regresar</h4>
        </div>
    </div>
    <div class="row-header bg-light">
        <div class="col-sm center marginTop">
            <img class="icon-sm" src="../../assets/lider.svg" alt="wc" />
        </div>
        <div class="col-sm marginTop">
            <strong>Pais</strong>
        </div>
        <div class="col">
            &nbsp;
        </div>
        <div class="col center marginTop">
            <strong>Tu #{{authService.user.leaderboardInfo.ranking}}</strong>
        </div>
    </div>
    <div class="row-header padded-sm" *ngFor="let leader of leaderboardList; let i=index">
        <div class="col-sm center">
            <strong>#{{i+1}}</strong>
        </div>
        <div class="col-sm">
            <span class="icon-xs" 
                [ngClass]="'flag-icon flag-icon-' + leader.user.user_profile.country.alpha2Code">
            </span>
        </div>
        <div class="col">
            <div class="username">
                {{leader.user.username}}
            </div>
        </div>
        <div class="col center pts">
            {{leader.points}}
        </div>
    </div>
</div>
<app-footer></app-footer>