* {
    color: #424242;
}

.header {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.see-more {
    font-weight: 600;
    color: #81abdf;
    margin-top: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) { 
    .row-header {
        flex-direction: row !important;
    }
}