<div class="row-header padded">
    <div class="col">
        <div class="title left">
            <h3>Tabla de Lideres</h3>
        </div>
    </div>
    <div class="col-sm">
        <div class="see-more">
            Ver mas
        </div>
    </div>
</div>
<div class="row-header bg-light padded-sm">
    <div class="col-sm marginTop">
        <img class="icon-sm" src="../../assets/medal.png" alt="wc" />
    </div>
    <div class="col-sm">
        <strong>Global</strong>
    </div>
    <div class="col">
        &nbsp;
    </div>
    <div class="col">
        <strong>Tu #55</strong>
    </div>
</div>
<div class="row-header padded-sm">
    <div class="col-sm marginTop">
        <strong>#01</strong>
    </div>
    <div class="col-sm">
        <span class="icon-xs" [ngClass]="'flag-icon flag-icon-br'"></span>
    </div>
    <div class="col">
        mesipillas09
    </div>
    <div class="col">
        20,500
    </div>
</div>

<!-- <img class="icon-md" src="../../assets/medal.png" alt="wc" /> -->