* {
    font: normal normal 20px/24px Helvetica, sans-serif;
    color: white;
}

input,
textarea {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

*:focus {
    outline: 0;
}

body {
    margin: 0;
}

h1 {
    font: 700 34px/40px Helvetica, sans-serif;
    color: #408648;
    margin: 20px 0 15px;
    font-weight: 700;
}

h2 {
    font: 700 28px/36px Helvetica, sans-serif;
    color: #408648;
    margin: 20px 0 0;
    font-weight: 700;
}

h3 {
    font: 700 18px/22px Helvetica, sans-serif;
    color: #408648;
    margin: 0px !important;
    font-weight: 600;
}

h4 {
    font: 700 16px/20px Helvetica, sans-serif;
    color: #81abdf !important;
    margin: 10px 5px 5px 5px;
    font-weight: 600;
}

.bg-light {
    background: #d6ebd7 !important;
}

img {
    width: 195px;
}

label,
strong {
    color: #424242;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    width: 250px;
    margin: 5px;
    background: whitesmoke;
    border: 1px solid #ddd;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #424242 !important;
    font-size: 18px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gray;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: gray;
}

strong {
    font-weight: 700;
    font-family: Pilcrow-Bold, sans-serif
}

.valign-top {
    vertical-align: text-top;
}

.container {
    margin: 0px !important;
    width: 100% !important;
}

.main-container {
    height: stretch;
    overflow-y: scroll;
    overflow-x: hidden;
}

.no-clicks {
    pointer-events: none;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

app-root {
    height: stretch;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #235845;
    background-image: url(http://transparenttextures.com/patterns/black-felt.png);
}

.app {
    position: relative;
    background: none;
}

.title {
    text-align: -webkit-left;
}

.title>h3 {
    color: #408648 !important;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.marginTop {
    margin-top: 10px !important;
}

.bordered {
    border-top: 1px solid;
}

.padded {
    padding: 20px;
}

.padded-sm {
    padding: 10px;
}

.padded-xs {
    padding: 5px;
}

.pad-right {
    padding-right: 10px;
}

.flex-grid {
    height: 100%;
    display: flex;
}

.flex-grid-row {
    display: flex;
    flex-direction: column !important;
}

.col {
    margin: 0px;
    flex: 1;
}

.col-md {
    flex: 0.75;
}

.col-sm {
    flex: 0.5;
}

.col-xs {
    flex: 0.025;
}

.box {
    color: #424242;
    background: white;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, .1);
    transition: all 0.1s ease-in-out;
}

span.icon-xs {
    width: 30px !important;
    height: 20px !important;
}

span.flag-icon {
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .2);
}

.oraculapp-btn {
    padding: 10px;
    margin: 10px;
    width: 290px;
    background: seagreen;
    color: white !important;
    font-weight: 600;
    font-size: 16px;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.valign-middle {
    height: 90% !important;
    line-height: 60px !important;
    text-align: center;
}

.circle {
    background: darkgreen;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

img.icon-xl {
    width: 250px !important;
    line-height: 75px !important;
}

img.icon-lg {
    width: 90px !important;
    line-height: 75px !important;
}

img.icon-md {
    width: 30px !important;
    line-height: 75px !important;
    float: right;
    margin: 10px;
}

img.icon-sm {
    width: 20px !important;
    line-height: 75px !important;
}

.separator-light {
    margin: 15px 30px 0px 30px;
    border-top: 1px solid lightgray;
}

span.icon-sm {
    width: 50px !important;
    height: 30px !important;
}

.row-header {
    flex: 1;
    display: flex;
    flex-direction: row !important;
}

.flag-icon {
    background-size: cover !important;
}

@media only screen and (max-width: 900px) {
    .flex-grid {
        flex-direction: column !important;
    }
    .flex-grid-row {
        flex-direction: column !important;
    }
    .row-header {
        flex-direction: column !important;
    }
    .mobile-hide {
        display: none !important;
    }
}

@media only screen and (max-width: 980px) {
    app-root {
        height: auto !important;
    }
    .box.pick {
        height: auto !important;
    }
    .vs {
        width: auto !important;
        line-height: 1 !important;
    }
    .loader {
        top: 85% !important;
    }
    img {
        width: 120px !important;
    }
    .oraculapp-btn {
        margin: 0px !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    span.flag-icon {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    span.flag-icon {
        width: 100px;
        height: 60px;
    }
}

@media only screen and (min-width: 800px) {
    span.flag-icon {
        width: 110px;
        height: 70px;
    }
}

.is-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.6;
    pointer-events: none;
}

.loader {
    animation: rotate 1s infinite;
    height: 75px;
    width: 75px;
    position: fixed;
    top: 90%;
    right: 5%;
    z-index: 2000;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 40px 0 0 #f8b334;
    margin-bottom: 20px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 40px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 40px 0 0 #f8b334;
    }
    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(25px, 25px);
        -moz-transform: translate(25px, 25px);
    }
    100% {
        box-shadow: 40px 0 0 #f8b334;
        margin-bottom: 20px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 40px 0 0 #97bf0d;
    }
    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -30px;
        -webkit-transform: translate(25px, 25px);
        -moz-transform: translate(25px, 25px);
    }
    100% {
        box-shadow: 40px 0 0 #97bf0d;
        margin-top: 0;
    }
}