<div class="container">
    <div class="title center">
        {{ title }}
    </div>
    <div class="events">
        <div class="pick-padd" *ngFor="let event of events | async">
            <div class="flex-grid">
                <div class="col center box pick" [ngClass]="{'isPicked': event.teamA.isPicked}" (click)="pick(event.teamA)">
                    <div class="flex-grid-row">
                        <div class="col">
                            <span [ngClass]="'flag-icon flag-icon-' + event.teamA.flagUrl"></span>
                        </div>
                        <div class="col-sm">
                            {{ event.teamA.name }}
                        </div>
                    </div>
                </div>
                <div class="col-xs center">
                    <div class="flex-grid-row">
                        <div class="col box pick" [ngClass]="{'isPicked': event.tie.isPicked}" (click)="pickTie(event)">
                            <div class="vs">
                                vs
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col center box pick" [ngClass]="{'isPicked': event.teamB.isPicked}" (click)="pick(event.teamB)">
                    <div class="flex-grid-row">
                        <div class="col">
                            <span [ngClass]="'flag-icon flag-icon-' + event.teamB.flagUrl"></span>
                        </div>
                        <div class="col-sm">
                            {{ event.teamB.name }}
                        </div>
                    </div>
                </div>
                <div class="col-sm center">
                    <div class="flex-grid-row">
                        <div class="col">
                            &nbsp;
                        </div>
                        <div class="col">
                            {{ event.date.toLocaleString() }}
                        </div>
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>