<div class="container">
    <div class="box padded-sm bordered">
        <div class="flex-grid-row">
            <div class="title">
                <h3>Mis Predicciones</h3>
            </div>
        </div>
        <div class="flex-grid-row">
            <div class="title">
                {{ title }}
            </div>
        </div>
    </div>
    <div class="events" *ngIf="eventPredictionList && eventPredictionList.length">
        <div class="" *ngFor="let item of eventPredictionList">
            <div class="flex-grid" [ngClass]="{'disabled': item.event.started}">
                <div class="col-md center box pick bordered" [ngClass]="{'isPicked': item.event.teamA.isPicked}" (click)="pick(item, item.event.teamA)">
                    <div class="flex-grid-row marginTop">
                        <div class="col">
                            <span [ngClass]="'flag-icon flag-icon-' + item.event.teamA.flag"></span>
                        </div>
                        <div class="col-sm t-name">
                            {{ item.event.teamA.name }}
                        </div>
                    </div>
                </div>
                <div class="col-sm center">
                    <div class="flex-grid-row">
                        <div class="col box pick bordered" [ngClass]="{'isPicked': item.event.tie.isPicked}" (click)="pickTie(item)">
                            <div class="vs">
                                <label>vs</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md center box pick bordered" [ngClass]="{'isPicked': item.event.teamB.isPicked}" (click)="pick(item, item.event.teamB)">
                    <div class="flex-grid-row marginTop">
                        <div class="col">
                            <span [ngClass]="'flag-icon flag-icon-' + item.event.teamB.flag"></span>
                        </div>
                        <div class="col-sm t-name">
                            {{ item.event.teamB.name }}
                        </div>
                    </div>
                </div>
                <div class="col-sm time-left center box padded-sm bordered">
                    <div class="flex-grid-row" *ngIf="!item.event.started">
                        <div class="col mobile-hide">
                            <img class="icon-sm" src="../../assets/clock.png" alt="clock" />
                        </div>
                        <div class="col">
                            <strong>{{item.event.timeLeft.days}}</strong>
                            <label>&nbsp;dd</label>
                        </div>
                        <div class="col">
                            <strong>{{item.event.timeLeft.hours}}</strong>
                            <label>&nbsp;hh</label>
                        </div>
                        <div class="col">
                            <strong>{{item.event.timeLeft.mins}}</strong>
                            <label>&nbsp;mm</label>
                        </div>
                    </div>
                    <div class="flex-grid-row" *ngIf="item.event.started">
                        <div class="col">
                            &nbsp;
                        </div>
                        <div class="col">
                            <strong>Evento iniciado.</strong>
                        </div>
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>