.title {
    color: #424242;
    background: white;

}

.title-container {
    margin: 20px;
}

.box.pick {
    height: auto;
    cursor: pointer;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,.1);
    transition: all 0.1s ease-in-out;
}

.box.pick::after {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.1s ease-in-out;
}

.box.pick.isPicked {
    background: #d6ebd7;
}

/* Scale up the box */
.box.pick:active {
    transform: scale(0.9, 0.9);
}
/* Fade in the pseudo-element with the bigger shadow */
.box.pick:hover::after {
    opacity: 1;
}

.vs {
    width: 75px;
    line-height: 5.05;
    padding: 5px;
}