<div class="header">
    <div class="flex-grid">
        <div class="col">
            <img class="logo" src="../../assets/logo-hor.png" alt="Oracle App" />
        </div>
        <div class="col">
            <div class="flex-grid">
                <div class="col right">
                    <app-user-points></app-user-points>
                </div>
                <div class="col right">
                    Salir
                </div>
                <div class="col-sm right">
                    U
                </div>
            </div>
        </div>
    </div>
</div>