<div class="header">
    <div class="row-header">
        <div class="flex-grid-row">
            <div class="col">
                <img class="logo" src="../../assets/logo-hor.png" alt="Oracle App" />
                <div class="event">RUSIA 2018</div>
            </div>
        </div>
        <div class="col-xs">
            &nbsp;
        </div>
        <div class="col-sm valign-middle">
            <app-user-points></app-user-points>
        </div>
        <div class="col-xs valign-middle">
            <img class="icon-sm circle" src="../../assets/user.png" alt="User" />
        </div>
        <div class="col-sm valign-middle">
            <img class="icon-sm circle" src="../../assets/logout.png" alt="Logout" />
        </div>
    </div>
</div>