<div class="dashboard-container">
    <div class="flex-grid">
        <div class="col">
            <app-event-list [eventPredictions]="eventPredictions"></app-event-list>
        </div>
        <div class="col-sm">
            <div class="flex-grid-row">
                <div class="col center box" style="height:200px">
                    widget 1
                </div>
                <div class="col-xs center">

                </div>
                <div class="col center box" style="height:500px">
                    widget 2
                </div>
            </div>
        </div>
    </div>
</div>