<app-header></app-header>
<div class="dashboard-container">
    <div class="flex-grid">
        <div class="col">
            <app-event-list [eventPredictions]="eventPredictions"></app-event-list>
        </div>
        <div class="col-sm">
            <div class="flex-grid-row">
                <div class="col center box bordered">
                    <app-global-prediction></app-global-prediction>
                </div>
                <div class="col center box bordered">
                    <app-leaderboards></app-leaderboards>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-container" *ngIf="eventResults.length">
        <div class="content">
            <div class="flex-grid-row">
                <div class="title center">
                    <h3>Tus Ultimos Resultados</h3>
                </div>
                <div class="row" *ngFor="let event of eventResults">
                    <div class="col">
                        <span [ngClass]="'flag-icon flag-icon-' + event.teamA.flag"></span>
                        <span [ngClass]="'flag-icon flag-icon-' + event.teamB.flag"></span>
                    </div>
                    <div class="col-sm marginTop">
                        <img *ngIf="event.wonPrediction" class="icon-md" src="../../assets/check.png" alt="check" />
                        <img *ngIf="!event.wonPrediction" class="icon-md" src="../../assets/cross.png" alt="cross" />
                    </div>
                    <div class="col-sm marginTop">
                        +{{ event.wonPrediction ? event.rewardPoints : '0' }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        &nbsp;
                    </div>
                    <div class="col-sm">
                        &nbsp;
                    </div>
                    <div class="col-sm total-pts">
                        + {{ptsCount}}
                    </div>
                </div>
                <div class="flex-grid-row separator-light">
                    <div class="padded">
                        <div class="center">
                            <strong>Ahora tienes {{points | async}} puntos.</strong>
                            <div class="ranking-result">
                                <div class="row-header">
                                    <div class="col valign-ranking">
                                        <strong>Ranking</strong>
                                    </div>
                                    <div class="col-sm valign-ranking">
                                        <div class="">
                                            <strong># 78</strong>
                                            &nbsp;
                                            <img class="icon-sm valign" src="../../assets/globe.svg" alt="World" />
                                        </div>
                                    </div>
                                    <!-- <div class="col">
                                        <strong># 43</strong>
                                        &nbsp;
                                        <div class="abs" [ngClass]="'flag-icon flag-icon-jp'"></div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col center">
                    <input class="oraculapp-btn" type="button" value="Entendido" (click)="markAsRead()" />
                </div>
            </div>
        </div>
        <div class="modal-backdrop">
        </div>
    </div>
</div>