.dashboard-container {
    margin: 60px;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.8;
    pointer-events: none;
}

.modal-container {
    *{
        color: #424242;
    }
    .content {
        height: max-content;
        background: whitesmoke;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 10%;
        z-index: 1;
    }
    .last-results {
        margin: 10px;
        .result-item {
            text-align: -webkit-center;
        }
    }
}

.valign-ranking {
    height: 90% !important;
    line-height: 10px !important;
    text-align: center;
}

.marginTop {
    margin-top: 10px;
}

.abs {
    position: absolute;
}

span {
    margin: 5px;
}

.total-pts {
    font-size: 24px;
    font-weight: 700;
    color: seagreen !important;
    padding-top: 10px;
    border-top: 2px solid black;
}

.ranking-result {
    background: #d6ebd7;
    border-radius: 30px;
    padding: 5px;
    margin: 5px 30px 5px 30px;
}

.row {
    margin: 10px;
    height: auto;
    display: flex !important;
    text-align: -webkit-center;
    flex-direction: row !important;
}

@media only screen and (max-width: 800px) { 
    .dashboard-container {
        margin: 10px;
    }
}