<div class="login-container">
    <div class="flex-grid-row padded">
        <div class="col center padded">
            <img class="icon-xl" src="../../assets/logo-ver.png" alt="logo-ver" />
        </div>
        <div class="col center">
            <div class="email-field">
                <div class="center">
                    <input id="email" [(ngModel)]="model.username" type="email" name="email input" placeholder="correo electronico" required>
                </div>
            </div>
            <div class="password-field">
                <div class="center">
                    <input id="pass" [(ngModel)]="model.password" type="password" name="password" placeholder="password" required>
                </div>
            </div>
            <div class="center">
                <input class="oraculapp-btn sm" type="button" value="Ingresar" (click)="login()" />
            </div>
            <div class="col-sm valign-middle">
                No eres miembro? Registrate
                <img (click)="redirectToSignup()" 
                    class="icon-sm circle" 
                    src="../../assets/register.png" 
                    alt="signup" />
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>